.sidebar {
  width: 200px;
  height: 100vh;
  background-color: #a4631b; /* Brownish background */
  padding: 20px;
  color: black;
}

.sidebar ul {
  list-style-type: disc;
  padding-left: 20px;
}

.sidebar li {
  margin-bottom: 15px;
}

.sidebar a {
  text-decoration: none;
  color: black;
  font-size: 1.2em;
}
